@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    font: normal 1.0em Arial;
}

header {
    width: 100%;
}

header > h1 {
    color: white;
    font-size: 2em;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
}

#campo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 500px;
    height: 300px;
    border-radius: 8px;
}

#paragrafo {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

#imagem {
    background: blue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

footer > p {
    color: white;
    font-style: italic;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
}